{% extends 'base.html' %}

{% block title %}Inicio - EduSam{% endblock %}

{% block sidebar %}
{% endblock %}


{% block top_bar %}
    <h2>Bienvenido, {{ username }}</h2> 
{% endblock %}

{% block content %}
<div class="student-home-container">
    <h3>Período Académico Actual</h3>
    
    <div class="academic-period-card">
        <h4>Información General</h4>
        <ul class="period-details">
            <li><strong>Inicio del Período:</strong> {{ academic_period.start_date }}</li>
            <li><strong>Fin del Período:</strong> {{ academic_period.end_date }}</li>
            <li><strong>Inicio de Inscripciones:</strong> {{ academic_period.inscription_start_date }}</li>
            <li><strong>Fin de Inscripciones:</strong> {{ academic_period.inscription_end_date }}</li>
        </ul>
    </div>

    <div class="academic-period-actions">
        <div class="academic-period-actions">
            <button class="btn-schedule" onclick="showQrCode()">Agendar</button>
            <div id="qr-modal" class="qr-modal">
                <div class="qr-modal-content">
                    <span class="close-modal">&times;</span>
                    <h5>Escanea el QR para agendar el período</h5>
                    <img id="qr-code" src="{{ url_for('home.academic_period_qr') }}" alt="QR Code para agendar">
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock %}
