{% extends 'base.html' %}

{% block title %}Inscripción a Materias - EduSam{% endblock %}

{% block top_bar %}
    <h2>Inscripción a Materias</h2>
{% endblock %}


{% block content %}
    <h3>Materias disponibles</h3>
    <table class="subjects-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Nota para Aprobar</th>
                <th>Nota para Promocionar</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
            <tr>
                <td>{{ subject.name }}</td>
                <td>{{ subject.min_passing_grade }}</td>
                <td>{{ subject.min_promotion_grade }}</td>
                <td>
                    <form action="{{ url_for('subject_registration.register') }}" method="POST">
                        <input type="hidden" name="subject_id" value="{{ subject.id }}">
                        <button type="submit" class="enroll-button">
                            Inscribirse
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
