{% extends 'base.html' %}

{% block title %}Validador de Certificados - EduSam{% endblock %}

{% block content %}
<div class="container help-container">
    <h2>Validador de Certificados</h2>
    <hr>
    
    <!-- Mensaje de ayuda -->
    <div class="alert alert-info mt-3" role="alert">
        Ingrese su <strong>Número de Documento</strong>, y luego el <strong>Código de Validación</strong> impreso en el certificado.
    </div>

    <!-- Formulario de validación -->
    <form>
        <!-- Número de Documento -->
        <div class="mb-3">
            <label for="numero_documento" class="form-label">Número de Documento</label>
            <input type="text" class="form-control" id="numero_documento" placeholder="Ingrese su número de documento"
            required>
        </div>

        <!-- Código de Validación -->
        <div class="mb-3">
            <label for="codigo_validacion" class="form-label">Código de Validación</label>
            <input type="text" class="form-control" id="codigo_validacion" placeholder="Ingrese el código de validación"
            required>
        </div>

        <!-- Botón de Validar -->
        <button type="submit" class="btn btn-primary">Validar</button>
    </form>
</div>
{% endblock %}
