{% extends 'base.html' %}

{% block title %}Recuperar - EduSam{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="container login-container">
        <div class="row">
            <!-- Left Column: Login Form -->
            <div class="col-md-6">
                <div class="login-form">
                    <h2>Recuperar Contraseña</h2>
                    <form action="/recuperar" method="POST">
                        <div class="mb-3">
                            <p>Ingresa tu correo electrónico y se te enviara las instrucciones para reestablecer tu contraseña</p>
                            <label for="email" class="form-label">Usuario</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Recuperar</button>
                        </div>
                    </form>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <!-- Right Column: Information -->
            <div class="col-md-6">
                <div class="info-section">
                    <h2>¿Qué puedes hacer en <span style="font-family: 'Ubuntu', sans-serif; font-weight: bold;">EduSam</span>?</h2>
                    <p>Algunas de las cosas que podés hacer con este sistema son:</p>
                    <ul>
                        <li>Inscribirte a materias y exámenes.</li>
                        <li>Consultar el plan de tu propuesta.</li>
                        <li>Consultar tu historia académica.</li>
                        <li>Actualizar tus datos personales.</li>
                        <li>Recibir alertas sobre períodos de inscripción o vencimiento de exámenes finales.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
