<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">EduSam</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Acceso</a></li>
                <li class="nav-item"><a class="nav-link" href="/fechas_examen">Fechas de Examen</a></li>
                <li class="nav-item"><a class="nav-link" href="/horarios_cursadas">Horarios de Cursadas</a></li>
                <li class="nav-item"><a class="nav-link" href="/validador_certificados">Validador de Certificados</a></li>
                <li class="nav-item"><a class="nav-link" href="/ayuda_menu">Ayuda</a></li>
            </ul>
        </div>
    </div>
</nav>
